<template name="postSubmit">
    <form class="main">
        Hello, <strong>{{username}}</strong>
        <div class="form-group">
            <label for="url">URL</label>
            <input class="form-control" name="url" type="url" value="" placeholder="Your URL">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" type="text" value="" placeholder="Name your post">
        </div>
        <div class="form-group">
            <label for="title">Message</label>
            <textarea class="form-control" name="message" type="text" value=""></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>
</template>